@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

/* GLOBAL CHANGES */
html {
    scroll-behavior: smooth;
   }

p a {
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
}

h2, h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
   font-size: 1.8rem;
}

h2::after {
    content: "";
    height: 0.2rem;
    width: 4rem; 
    position: absolute;
    left: calc(50% - 2rem);
    bottom: -5px;
    background-color: #000;
}

img {
    transition: 0.3s;
}

img:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hover-noshadow:hover {
    box-shadow: 0 0 0;
}

.hover-shadow {
    box-shadow: 0;
    transition: all 0.3s;
}

.hover-shadow:hover {
    border-width: 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

/* /GLOBAL CHANGES */

/* HEADER */

header {
    min-height: 60vh;
    background: #000 url(../images/background.JPG) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
   font-size: 4.5rem;
   text-shadow: 2px 2px 1px black;
}

h1 small {
    font-size: 3rem;
}

h1::after {
    content: "";
    height: 0.4vw;
    width: 6rem; 
    position: absolute;
    left: calc(50% - 3rem);
    bottom: -20px;
    background-color: #fff;
    /* border: 0.1px solid black; */
}

.arrow::before {
    content: "";
    height: 8px;
    width: 30px; 
    position: absolute;
    left: calc(50% - 30px);
    bottom: 4vh;
    background-color: #fff;
    transform: rotate(45deg);
    transition: all 0.3s;
}

.arrow::after {
    content: "";
    height: 8px;
    width: 30px; 
    position: absolute;
    left: calc(50% - 14px);
    bottom: 4vh;
    background-color: #fff;
    transform: rotate(135deg);
    transition: all 0.3s;
}

.arrow:hover:after , .arrow:hover:before {
    background-color: #f1f1f1;
    bottom: 4.4vh;
    transition: all 0.3s;
}

/* /HEADER */